
.CodeMirror
  .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background: none !important;
}
.q-toolbar__title {
  font-size: 16px;
}
.q-field--dense .q-field__label {
  font-size: 14px !important;
  top: 10px;
}
.q-field--dense .q-field__control,
.q-field--dense .q-field__marginal {
  height: 40px;
}
/* 编辑器预览样式 */
.q-editor__content img,
.editor-preview img {
  max-width: 350px !important;
}

