
.CodeMirror
  .cm-spell-error:not(.cm-url):not(.cm-comment):not(.cm-tag):not(.cm-word) {
  background: none !important;
}
.q-toolbar__title {
  font-size: 16px;
}
.q-field--dense .q-field__label {
  font-size: 14px !important;
  top: 10px;
}
.q-field--dense .q-field__control,
.q-field--dense .q-field__marginal {
  height: 40px;
}
/* 编辑器预览样式 */
.q-editor__content img,
.editor-preview img {
  max-width: 350px !important;
}
/* Markdown预览样式 */
.editor-preview h1,
.q-editor h1 {
  font-size: 1.7em;
  padding-bottom: 0.3em;
  line-height: 1.2;
  font-weight: bold;
}
.editor-preview h2,
.q-editor h2 {
  font-size: 1.5em;
  padding-bottom: 0.3em;
  line-height: 1.225;
  font-weight: bold;
}
.editor-preview h3,
.q-editor h3 {
  font-size: 1.25em;
  padding-bottom: 0.3em;
  line-height: 1.43;
  font-weight: bold;
}
.editor-preview h4,
.q-editor h4 {
  font-size: 1em;
  padding-bottom: 0.3em;
  line-height: 1.43;
  font-weight: bold;
}
.editor-preview h5,
.q-editor h5 {
  font-size: 0.875em;
  padding-bottom: 0.3em;
  line-height: 1.43;
  font-weight: bold;
}
.editor-preview blockquote {
  border-left: 0.25em solid;
  margin: 10px;
}
.editor-preview blockquote > p {
  padding-left: 0.5em;
}

